
    <form method="post" action="/cats/save">
        <input type="text" name="Name" /> <br>
        <input type="text" name="Age" /> <br>
        <input type="submit" value="Save" /> <br>
    </form>
